body
{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: azure;
}

h3
{
  text-decoration: underline;
  color: #fff;
  font-family: 'Times New Roman', Times, serif;
}

#header{
  background: #414141;
  box-shadow: 0px 0px 5px 1px #ffe600;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 10px;
}

.post
{
  background-color: #222222;
  color: #ffe600;
  border-radius: 10px;
  margin: 20px;
  padding: 5px 20px;
  margin-left: 25%;
  margin-right: 25%;
}
